<%= form_tag('/', method: :get, class: 'form') do %>
  <%= label_tag :query, "All github repositories containing" %>
  <div>
    <%= text_field_tag :query, params[:query] %>
    <% flash.each do |type, msg| %>
      <div class="errors" >
        <%= msg %>
      </div>
    <% end %>
  </div>
<% end %>


<div class="card-list">
  <% if(@result.present?) %>
    <% @result.each do |repo| %>
      <div class="card">
        <%= content_tag(:span, repo['full_name'], class: "repo-name") %>
        <%= content_tag(:span, repo['description'], class: "repo-description") %>
      </div>
    <% end %>
  <% end %>
</div>