<div class="page-wrapper">
  <div id="sidebar">
    <%= form_tag('/', method: :get, class: 'form') do %>
      <div id="query-wrapper">
        <%= label_tag :query, "All github repositories containing" %>
        <div>
        "
          <%= text_field_tag :query, params[:query], placeholder: "hello world", id: 'input', type: 'text' %>
        "
        </div>
      </div>
    <% end %>

    <% if params[:query].present? %>
      <%= content_tag :div, id:"page-navigator",  data: { current_page: @page } do %>
        <button id="previous-button">
          <
        </button>
        <%= @page %>
        <button id="next-button">
          >
        </button>

      <% end %>
        <div id="per-page-wrapper">
          <%= label_tag :per_page, "Results per page" %>
          <%= select_tag "per_page", options_for_select([10, 20, 30, 40], (params[:per_page] || 10)) %>
        </div>
    <% end %>
  </div>

  <div class="card-list">
    <% if(@result.present?) %>
      <% @result.each do |repo| %>
        <%= link_to repo['html_url'], target: "_blank", class: 'card' do %>
            <%= content_tag(:span, highlight(repo['full_name'], params[:query]), class: "repo-name") %>
            <%= content_tag(:span, highlight(repo['description'], params[:query]), class: "repo-description") %>
        <% end %>
      <% end %>

      <% else %>

      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>